@import "../../css/Colors.scss";

.notification__item {
  align-items: center;
  background-color: #000;
  display: grid;
  border-radius: 8px;
  grid-template-columns: repeat(2, 22px) 1fr;
  gap: 0.4rem;
  margin-bottom: 0.4rem;
  padding: 0.4rem;
  pointer-events: all;
}

.notification__item.warning {
  color: $gold;
}

.notification__item.info {
  color: $success;
}

.notification__item:last-of-type {
  margin: 0;
}

@media screen and (max-width: 600px) {
  .notification__item {
    border-radius: 0;
  }
}
