@import "../css/Mixins.scss";
@import "../css/Colors.scss";

.module--chat-messages {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  height: 100%;
  padding: 1.2rem 0.6rem 0;
}

.list--chat-messages {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  place-content: end;
}

.add-to-context {
  column-gap: 0.2rem;
  display: grid;
  grid-template-columns: repeat(4, max-content);
  place-content: end;
}

.add-to-context button {
  font-size: 1rem;
  padding: 0.2rem;
}

.message {
  display: flex;

  &.user {
    align-self: flex-end;
  }

  .message--outgoing {
    place-content: end;
  }
}

.message--incoming,
.message--outgoing {
  border-radius: 8px;
  margin-bottom: 1rem;
  padding: 0.6rem;
  text-align: left;
  word-break: break-word;
  width: 100%;
}

.message--incoming {
  background-color: #000;
  border: 1px solid #6668;
  border-top-left-radius: 0;
  margin-right: 2.5rem;

  .message__source.Assistant {
    color: $purple;
  }

  .message__source.Application {
    color: $error;
  }
}

.message--outgoing {
  align-self: end;
  background-color: #333;
  border-top-right-radius: 0;
  border: 1px solid #67676788;
  margin-left: 2.5rem;

  .message__text b {
    text-align: right;
  }
}

.message__source {
  padding: 0 0 1rem;
  font-size: 0.9rem;
}

.message__text,
.message__text p {
  margin: 0;
}

.message__text b {
  display: block;
}

.message__text p {
  width: fit-content;
}

.message__text pre {
  width: 100%;
}

.module--chat-messages__list-container {
  @include hide-scrollbar();
  background-color: #181818;
  border-radius: 8px;
  transition: border 500ms ease-in;
  overflow-y: auto;

  &[data-loaded="false"] {
    border: 1px dashed #67676788;
  }

  &[data-loaded="true"] {
    border: 1px solid $purple;
  }

  &[data-error="true"]::after {
    color: #ff5e5e;
  }

  &[data-empty="true"]::after {
    @include h1();

    content: attr(data-empty-message);
    font-weight: bold;
    display: block;
    margin: 0 auto;
    opacity: 0.3;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    width: 400px;
  }
}
