.input-group {
  display: grid;
  grid-template-columns: max-content auto max-content;
  margin: 1rem 0;
  max-width: initial;
  width: 100%;

  &,
  &.bordered {
    border: 1px solid #9998;
    border-radius: 8px;
    overflow: hidden;
  }

  input {
    border: 0;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    padding: 0.6rem;
    padding-left: 58px;
  }

  input::placeholder {
    color: #999;
  }

  .button--attach {
    box-sizing: border-box;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    color: #ddd;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 50px;
  }

  .button--send {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    min-width: 80px;
  }

  .input-group__input {
    padding: 0.6rem;
  }
}
