@import "../css/Colors.scss";

.item-menu--container {
  background-color: $dark;
  border-radius: 8px;
  border: 1px solid #8883;
  box-shadow: 0 2px 4px #000;
  height: fit-content;
  margin-bottom: 0.6rem;
  max-height: 400px;
  padding: 0.6rem 0 0;
  place-content: center;
  position: absolute;
  width: 300px;
  z-index: inherit;
}

.item-menu--container.item-menu--round {
  border: none;
  text-align: center;
}

.item-menu--container > * {
  padding: 0;
}

.item-menu--container .item-menu__item {
  align-items: center;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 40px;
  min-height: 2.6rem;
  padding: 0 0.6rem;

  &:hover {
    background-color: lighten($color: $darkGrey, $amount: 10);
  }
}

.item-menu--container .item-menu--footer.item-menu__item {
  align-items: center;
  border-top: 1px solid #8883;
  font-size: small;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
}
