.gsi-material-button .gsi-material-button-content-wrapper {
  align-items: center;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 12px;
}

.gsi-material-button .gsi-material-button-icon {
  height: 20px;
  min-width: 20px;
  width: 20px;
}
