@import "../css/Animations.scss";
@import "../css/Colors.scss";

$avatarSize: 32px;

.user-controls > .button--grid {
  border-bottom-right-radius: 10rem;
  border-top-right-radius: 10rem;
  grid-template-columns: max-content 1fr;
  padding-left: 0.4rem;

  .list-item__content {
    align-items: center;
    display: grid;
    grid-template-columns: auto max-content;
  }
}

.user-controls .button--grid,
.user-controls .button--grid:last-of-type {
  cursor: pointer;
  margin-bottom: 0;
}

.user-controls img.avatar {
  height: auto;
  width: $avatarSize;
  border-radius: 100%;
}

.user-controls .toggle-settings {
  align-items: center;
  display: grid;
  grid-template-columns: $avatarSize 1fr;
}
