$avatarSize: 32px;

.user-controls {
  overflow: hidden;
}

.user-controls > .list-item--grid {
  background-color: #3336;
  grid-template-columns: max-content 1fr;

  .list-item__content {
    align-items: center;
    display: grid;
    grid-template-columns: auto max-content;
  }
}

.user-controls .list-item--grid,
.user-controls .list-item--grid:last-of-type {
  cursor: pointer;
  margin-bottom: 0;
}

.user-controls img.avatar {
  height: auto;
  width: $avatarSize;
  border-radius: 100%;
}

.user-controls .toggle-settings {
  align-items: center;
  display: grid;
  grid-template-columns: $avatarSize 1fr;
}
