@import "./Mixins.scss";
@import "./Colors.scss";

/** Route containers */
.route {
  min-height: calc(100vh - $appHeaderHeight);
  height: 100vh;
  overflow-y: auto;
}

.route > header {
  border-bottom: 1px solid $superGrey;
  text-align: center;
  padding: 1.3rem 0;
}

.route > header > h1 {
  text-align: left;
  width: 100%;
}
