.form--general-settings .hint.warn {
  align-items: center;
  display: grid;
  grid-template-columns: max-content 1fr;
}

.form--general-settings .button--grid {
  margin: 0 auto;
  min-width: 200px;
}

.form--general-settings .callsign--grid {
  align-items: center;
  column-gap: 0.6rem;
  display: grid;
  grid-template-columns: max-content 1fr;
  z-index: 20;

  label {
    margin: 0;
  }
}

.form--general-settings .callsign--grid .inline--grid {
  align-items: center;
  align-self: stretch;
  cursor: pointer;
}

.form--general-settings .inline--grid input[type="color"] {
  cursor: pointer;
  height: 40px;
  padding: 0;
  width: 20px;
}
